# URL de l'API Cloud FasoCarnet
VITE_API_URL=https://votre-serveur-fasocarnet.onrender.com

# Configuration Serveur
PORT=3000
NODE_ENV=production
ADMIN_API_KEY=faso_carnet_admin_secret_2026
SHOP_AUTH_SECRET_SEED=FASO_CARNET_SHOP_AUTH_TOKEN_SEED_2026
